@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    font-size: 14px;
    line-height: 1.5;
    background-color: #fff;
    color: #222;
}

.wrap{
    display: flex;
}


.left{
    width: 200px;
    padding: 0 16px;
}

.logo{
    display: block;
    padding: 20px 0;
}

.gnb > li{
    position: relative;
}
.gnb > li > a{
    display: block;
    padding: 16px;
}
.gnb > li:hover > a{
    background-color: #eee;
}

.gnb ul{
    display: none;
    position: absolute;
    top: -20px;
    left: 160px;
    z-index: 1;
    width: 200px;
    height: 200px;
    background-color: slateblue;
    color: yellow;
}
.gnb ul li a{
    display: block;
    padding: 6px;
    text-align: center;
}

.gnb ul li a:hover{
    background-color: #eee;
    color: blue;
}
.main{
    flex: 1;
}

.top{
    height: 400px;
    background-color: orange;
    display: flex;
    position: relative;
}
.banner 

.slider{
    background-color: lightblue;
    flex: 1;
    /* width: calc(100%-230px); */
    height: 400px;
    position: relative;
    overflow: hidden;
}

.slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
}

.slide a{
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 400px;
}

.slide a:nth-child(1){
    left: 0;
}
.slide a:nth-child(2){
    left: 100%;
}
.slide a:nth-child(3){
    left: 200%;
}

.slide img{
    display: block;
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.banner{
    width: 230px;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
}

.banner .text_box{
    position: absolute;
    top: 10px;
    padding: 20px;
}

.banner .arrow{
    position: absolute;
    top: 200px;
    right: 0;
}

.banner .arrow img{
    width: 40%;
}
.content{
    height: 250px;
    display: flex;
    padding: 10px 0;
    gap: 30px;
}

.content h2{
    border-bottom: 3px solid #ddd;
    font-size: 17px;
}
.content h2 a{
    border-radius: 10px;
    background-color: #ddd;
    padding: 5px 0;
}

.notice{
    flex: 1;
}

.notice li a{
    border-bottom: 1px solid #222;
    display: block;
    padding: 10px;
}

.gallery{
    flex: 1;
}

.gallery ul{
    display: flex;
    gap: 50px;
    padding: 10px 60px;
}

/* footer */
.footer{
    height: 100px;
    display: flex;
    align-items: center;
    background-color: #eee;
}

.f_logo{
    width: 200px;
    text-align: center;
}

.site{
    width: 230px;
    text-align: center;
}

.copyright{
    flex: 1;
    text-align: center;
}